<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="vacuum_gripper_gazebo" params="prefix **drops_info">
    <gazebo reference="${prefix}base_link">
      <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="${prefix}tool0">
      <material>Gazebo/Red</material>
    </gazebo>

    <gazebo>
      <plugin name="ros_vacuum_gripper" filename="libROSVacuumGripperPlugin.so">
        <grasp_check>
          <detach_steps>40</detach_steps>
          <attach_steps>1</attach_steps>
          <min_contact_count>1</min_contact_count>
        </grasp_check>

        <xacro:insert_block name="drops_info" />

        <suction_cup_link>${prefix}::${prefix}base_link</suction_cup_link>

        <!-- ROS -->
        <robot_namespace>/gilbreth</robot_namespace>
        <control_topic>gripper/control</control_topic>
        <state_topic>gripper/state</state_topic>
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>
