<?xml version="1.0"?>

<model>
  <name>Simple arm vacuum gripper</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Carlos Aguero</name>
    <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    A simple arm with a vacuum gripper attached.
  </description>
</model>
