<?xml version="1.0"?>
<robot name="linear_actuator" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="linear_actuator" params="prefix">

    <!-- URDF -->
    <xacro:include filename="$(find gilbreth_support)/urdf/linear_actuator/linear_actuator.urdf.xacro"/>
    <xacro:linear_actuator_urdf prefix="${prefix}"/>

    <!-- Gazebo -->
    <xacro:include filename="$(find gilbreth_support)/urdf/linear_actuator/linear_actuator.gazebo.xacro"/>
    <xacro:linear_actuator_gazebo prefix="${prefix}" joint_interface="hardware_interface/PositionJointInterface"/>

  </xacro:macro>
</robot>
