<?xml version="1.0"?>
<robot name="linear_actuator_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="linear_actuator_gazebo" params="prefix joint_interface">
    <gazebo reference="${prefix}base_link">
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="${prefix}carriage">
      <material>Gazebo/Grey</material>
    </gazebo>

<!--    <gazebo reference="${prefix}carriage_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
    </gazebo>-->

    <transmission name="${prefix}transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}carriage_joint">
        <hardwareInterface>${joint_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
</robot>
