<?xml version="1.0"?>
<launch>
  <arg name="workcell" value="workcell_"/>
  <arg name="robot_rail" value="robot_rail_"/>
  <arg name="vacuum_gripper" value="vacuum_gripper_"/>
  <arg name="depth_camera" value="depth_camera_"/>
  <arg name="break_beam" value="break_beam_"/>

  <!-- Load xacros into parameters -->

  <param name="$(arg workcell)description"
    command="$(find xacro)/xacro --inorder '$(find gilbreth_support)/urdf/workcell/workcell.xacro'"/>

  <param name="$(arg robot_rail)description"
    command="$(find xacro)/xacro --inorder '$(find gilbreth_support)/urdf/linear_actuator/linear_actuator.xacro' prefix:=$(arg robot_rail)"/>

  <param name="$(arg vacuum_gripper)description"
    command="$(find xacro)/xacro --inorder '$(find gilbreth_support)/urdf/vacuum_gripper/vacuum_gripper.xacro' prefix:=$(arg vacuum_gripper)"/>

  <param name="$(arg depth_camera)description"
    command="$(find xacro)/xacro --inorder '$(find gilbreth_support)/urdf/depth_camera/depth_camera.xacro' prefix:=$(arg depth_camera)"/>

  <param name="$(arg break_beam)description"
    command="$(find xacro)/xacro --inorder '$(find gilbreth_support)/urdf/break_beam/break_beam.xacro' prefix:=$(arg break_beam)"/>

  <!-- Spawner Nodes -->

  <node name="$(arg workcell)spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -model $(arg workcell) -param $(arg workcell)description"/>

  <node name="$(arg robot_rail)spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -model $(arg robot_rail) -param $(arg robot_rail)description"/>

  <node name="$(arg vacuum_gripper)spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -model $(arg vacuum_gripper) -param $(arg vacuum_gripper)description"/>

  <node name="$(arg depth_camera)spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -model $(arg depth_camera) -param $(arg depth_camera)description"/>

  <node name="$(arg break_beam)spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -model $(arg break_beam) -param $(arg break_beam)description"/>

</launch>
