<?xml version="1.0"?>
<robot name="disk" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- link list -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gilbreth_support/meshes/conveyor_objects/visual/disk.stl" />
      </geometry>
      <material name="dark_grey">
        <color rgba="0.1 0.1 0.1 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gilbreth_support/meshes/conveyor_objects/collision/disk.stl" />
      </geometry>
      <material name="dark_grey"/>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>1.0</mu2>
          </ode>
          <torsional>
            <coefficient>1000.0</coefficient>
            <patch_radius>0.1</patch_radius>
          </torsional>
        </friction>
      </surface>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.1" ixy="0" ixz="0"
               iyy="0.1" iyz="0"
               izz="0.1" />
      <mass value="1" />
    </inertial>
  </link>
</robot>
