<?xml version="1.0"?>
<robot name="depth_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="depth_camera" params="prefix">

    <!-- URDF -->
    <xacro:include filename="$(find gilbreth_support)/urdf/depth_camera/depth_camera.urdf.xacro"/>
    <xacro:depth_camera_urdf prefix="${prefix}"/>

    <!-- Gazebo -->
    <xacro:include filename="$(find gilbreth_support)/urdf/depth_camera/depth_camera.gazebo.xacro"/>
    <xacro:depth_camera_gazebo prefix="${prefix}"/>

  </xacro:macro>
</robot>
