<?xml version="1.0"?>
<robot name="robot_system" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="linear_actuator_prefix" value="linear_actuator_"/>
  <xacro:property name="robot_prefix" value="robot_"/>
  <xacro:property name="vacuum_gripper_prefix" value="vacuum_gripper_"/>

  <!-- Linear Actuator -->
  <xacro:include filename="$(find gilbreth_support)/urdf/linear_actuator/linear_actuator.urdf.xacro"/>
  <xacro:linear_actuator_urdf prefix="${linear_actuator_prefix}"/>

  <xacro:include filename="$(find gilbreth_support)/urdf/linear_actuator/linear_actuator.gazebo.xacro"/>
  <xacro:linear_actuator_gazebo prefix="${linear_actuator_prefix}" joint_interface="hardware_interface/PositionJointInterface"/>

  <!-- Robot -->
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro"/>
  <xacro:ur10_robot prefix="${robot_prefix}" joint_limited="true"/>

  <!-- Vacuum Gripper -->
  <xacro:include filename="$(find gilbreth_support)/urdf/vacuum_gripper/vacuum_gripper.urdf.xacro"/>
  <xacro:vacuum_gripper_urdf prefix="${vacuum_gripper_prefix}"/>

  <xacro:include filename="$(find gilbreth_support)/urdf/vacuum_gripper/vacuum_gripper.gazebo.xacro"/>
  <xacro:vacuum_gripper_gazebo prefix="${vacuum_gripper_prefix}" gripper_link="robot_system_::robot_wrist_3_link">
    <drops_info/>
  </xacro:vacuum_gripper_gazebo>

  <!-- Joints -->
  <joint name="robot_to_carriage" type="fixed">
    <parent link="${linear_actuator_prefix}carriage" />
    <child link="${robot_prefix}base_link" />
  </joint>
  <joint name="gripper_to_robot" type="fixed">
    <parent link="${robot_prefix}tool0" />
    <child link="${vacuum_gripper_prefix}base_link" />
  </joint>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotParam>robot_system_description</robotParam>
    </plugin>
  </gazebo>

</robot>
