<?xml version="1.0"?>
<launch>
    <node pkg="tf" type="static_transform_publisher" name="sensor_tf_publisher" args="1.3 3.3 2.06 0.70711 -0.70711 0 0 world_frame sensor_frame 100" />

    <remap from="scene_point_cloud" to="/camera/depth/points"/>
    <node pkg="gilbreth_perception" name="segmentation_node" type="segmentation_node" args="--down_sample 0.008"/>

    <node pkg="gilbreth_perception" name="recognition_node" type="recognition_node" args="--descr_rad 0.08 --down_sample 0.008 --min_sample_distance 0.025 --max_correspondence_distance 0.25 --nr_iterations 40">
       <rosparam command="load" file="$(find gilbreth_perception)/config/model_list.yaml"/>
       <rosparam command="load" file="$(find gilbreth_perception)/config/parameters.yaml"/>
       <param name="package_path" value="$(find gilbreth_perception)"/>
    </node>
</launch>

