<?xml version="1.0"?>

<model>
  <name>Pneumatic gripper</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Rethink Robotics</name>
    <name>Carlos Aguero</name>
    <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    The pneumatic end effector made by Rethink Robotics.
  </description>
</model>
