<?xml version="1.0"?>
<launch>

  <!-- gazebo arguments -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default = "false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="physics" default="ode"/>
  
  <arg name="extra_gazebo_args" default="--verbose"/>

  <!-- gazebo and moveit -->
  <include file="$(find gilbreth_gazebo)/launch/gilbreth_environment.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
    <arg name="physics" default="$(arg physics)"/>
    <arg name="rviz" default = "$(arg rviz)"/>
  </include>



    
</launch>
